<div class = "center">
  <div class="pagination">
    <!--    <a href="#">&laquo;</a>-->
    <a href="/welcome" style="background-color: #06748c">Welcome!</a>
    <a href="/upload" style="background-color: #06748c">Upload Doc</a>
    <a href="/scan" style="background-color: #99e5ea" >Scan Doc</a>
    <a href="/confirmation">Confirmation</a>
    <a href="/final">Thank You!</a>
    <!--    <a href="#">&raquo;</a>-->
  </div>
</div>
<div *ngIf="isCameraExist; else noCameraExist">
  <h2 style="text-align: center" *ngIf="!taken">Take a picture of your {{docType ? docType : "document"}}</h2>
  <div style="text-align: center">

    <div class="btn-group" *ngIf="!taken">

      <button class="btn" (click)="takeSnapshot()">Take picture</button>
      <button class="btn" (click)="changeWebcam(true)">Toggle Camera</button>
      <button class="btn" (click)="onOffWebcam()">Switch Camera On/Off</button>

    </div><br />
    <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
  </div>

  <div class="webcam-image" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl" />
  </div>


  <div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{error | json}}</li>
    </ul>
  </div>
</div>
<div *ngIf="taken">
  <h3>Are you happy with this image?</h3>
  <div class="btn-group">
  <button class="btn" routerLink="/upload" [queryParams]="{docType :docType }">YES</button><button class="btn" (click)="resetPage()" >NO</button></div>
</div>
<ng-template #noCameraExist>
  Camera Device Not Available
</ng-template>
<qrcode [qrdata]="'libertymutual.com'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
