<div class = "center">
  <div class="pagination">
    <!--    <a href="#">&laquo;</a>-->
    <a href="/welcome" style="background-color: #06748c">Welcome!</a>
    <a href="/upload" style="background-color: #06748c">Upload Doc</a>
    <a href="/scan"  style="background-color: #06748c" >Scan Doc</a>
    <a href="/confirmation" style="background-color: #06748c">Confirmation</a>
    <a href="/final" style="background-color: #99e5ea">Thank You!</a>
    <!--    <a href="#">&raquo;</a>-->
  </div>
</div>
<img class="thank-you-image" src="assets/images/ThankYou.jpeg">
<button type="button" class = "btn" style="margin-left: 40%; margin-top: 3%" routerLink="/welcome">Return to hompage</button>

<body>
</body>
