/* You can add global styles to this file, and also import other style files */

.logo{
  padding-top: 5px;
  padding-bottom: 10px;
}

.header {
  background-color: #ffd100 ;
}
.footer{
  position:fixed;
  bottom: 0px;
  background-color: #1A1446;
  width: 100%;
}
.footer-writing {
  color: white;
  text-align:center;
  line-height: 80px;
}

html { font-size:8px}
p{font-size: calc(1rem + 1vw); }

#previewImg {
  max-width: 100px;
  max-height: 100px;
}

.dashed {
  border-style: dashed;
  text-align: center;
  border-color: gray;
  padding: 150px 20px;
}
.upload-line{
  margin-top: 3em;
  margin-bottom: 2em;
}

.photo:after{
  position: absolute;
  content: '';
  top: 100px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 20;
}

input#file{
  text-decoration: none;
}
