/* You can add global styles to this file, and also import other style files */

.logo{
  padding-top: 5px;
  padding-bottom: 10px;
}

.header {
  background-color: #ffd100 ;
}

.footer-writing {
  color: white;
  text-align:center;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
.connect img{
    height: 40px;
    width: 40px;
}

.app-content {
  min-height:80%;
}

.footer{
  background-color: #1A1446;
  width: 100%;
}




