/* You can add global styles to this file, and also import other style files */

.logo{
  padding-top: 5px;
  padding-bottom: 10px;
}

.header {
  background-color: #ffd100 ;
}
.footer{
  position:fixed;
  bottom: 0px;
  background-color: #1A1446;
  width: 100%;
}
.footer-writing {
  color: white;
  text-align:center;
  line-height: 80px;

}
html { font-size:8px}
p{font-size: calc(1rem + 1vw); }


