<span>
  <h2 style="color: #1a1446; font-family: Roboto, sans-serif; line-height: 1.6">
    Name:
  </h2>
</span>
<div class="boxed" style="margin-left: 3%">
  <p style="color: #343741">
    Name From Documents
  </p>
</div>
<div>
  <h2>
    Date of Birth:
  </h2>
</div>
<div class="boxed" style="margin-left: 3%">
  <p>
    DoB From Documents
  </p>
</div>
<div>
  <h2>
    Address:
  </h2>
</div>
<div class="boxed" style="margin-left: 3%">
  <p>
    Address From Documents
  </p>
</div>
<button class="btn" style="margin-left: 3%; margin-top: 10px"
        routerLink="/upload" routerLinkActive="active">Return</button>
<button class="btn" style="margin-left: 3%; margin-top: 10px"
        routerLink="/final" routerLinkActive="active">Submit</button>
