<div class = "center">
  <div class="pagination">
    <!--    <a href="#">&laquo;</a>-->
    <a href="/welcome" style="background-color: #99e5ea">Welcome!</a>
    <a href="/scan">Scan Doc</a>
    <a href="/upload">Upload Doc</a>
    <a href="/confirmation">Confirmation</a>
    <a href="/final">Thank You!</a>
    <!--    <a href="#">&raquo;</a>-->
  </div>
</div>
<div class ="content-title">
<p> Insurance Document Verification</p>
</div>
<div class = "content">
  <img class = "content-image" src="assets/images/document_picture.jpeg">
  <div class="welcome-page-footer">
    <button class="btn" routerLink="/upload" >Start Application</button>
  </div>
</div>

