
#previewImg-passport {
  max-width: 300px;
  max-height: 400px;
  background-position: center;
  background-size: cover;
}
#previewImg-drivers{
  max-width: 300px;
  max-height: 400px;
  background-position: center;
  background-size: cover;
}
#previewImg-utility{
  max-width: 300px;
  max-height: 400px;
  background-position: center;
  background-size: cover;
}

.dashed {
  border-style: dashed;
  text-align: center;
  border-color: gray;
  padding: 50px 460px;
  background-position: center;
  background-size: cover;
}
.upload-line{
  margin-top: 3em;
  margin-bottom: 2em;
  margin-right:0.5em
}

.photo-type{
  font-size: 2em;
}


.update-photo input[type=file] {
  display:none;
}

.button-container{
  padding-bottom: 15%;
}



