
#previewImg {
  max-width: 100px;
  max-height: 100px;
}

.dashed {
  border-style: dashed;
  text-align: center;
  border-color: gray;
  padding: 150px 460px;
}
.upload-line{
  margin-top: 3em;
  margin-bottom: 2em;
  margin-right:0.5em
}

.photo:after{
  position: absolute;
  content: '';
  top: 100px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 20;
  outline: 5px dashed red;
}
.photo-type{
  font-size: 2em;
}


.update-photo input[type=file] {
  display:none;
}


#upload_button input[type=file] {
  display:none;
}
