<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrainingProject</title>

</head>
<body style="background-color: #f8f9fa">


<div class="container">
  <div class="card ">
    <div class="card-body">
      Passport
      <a style="float: right" href="#show-image" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#show-image">Show File</a>
      <div id="show-image" class="collapse">
        <hr class="upload-line">
        <div class="dashed">
          <div class="e">
            <h3>Choose a file or drag it here.</h3>
            <div class="fileUpload btn btn-light" >
              <p>Upload</p>
              <input id="uploadBtn" type="file" class="upload"  onchange="previewFile(this);" />
            </div>
              <img id="previewImg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>ff</p>
</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>


