<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrainingProject</title>

</head>
<body style="background-color: #f8f9fa">


<div class="container my-5">
  <div class="card ">
    <div class="card-body">
      <a style="float: right" href="#show-image" class="btn btn-info my-1" data-bs-toggle="collapse" data-bs-target="#show-image">Show File</a>
      <h3 class="photo-type" style="display: inline-block">Passport</h3>
      <div id="show-image" class="collapse">
        <hr class="upload-line">
        <label>
        <div class="dashed">
          <div class="update-photo">
            <input id="uploadBtn" type="file" class="photo" name="photo" onchange="previewFile(this);" />
              <img id="previewImg">
            <h3 id="choose">Click here or drag a file.</h3>

          </div>
        </div>
        </label>
      </div>
    </div>
  </div>
</div>

</body>
</html>


